.body{
    overflow-x: hidden;
    overscroll-behavior-x: contain;
}

.landing-page{
    overflow: hidden;
}
#carousel-3D{
    overflow: hidden;
}
#character-slide{
    position: relative;
    height: 120%;
}
